.works-section
  position: relative

.works
  +clearfix
  height: 100vh
  position: relative
  text-align: center
  +tablets-max
    display: flex
    height: auto
    flex-direction: column

  &__list
    background-color: #ebefe2
    float: left
    width: 50%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    +tablets-max
      float: none
      width: 100%
      height: auto
      padding: rem(35px) 0

  &__image
    position: absolute
    width: 50%
    height: 75%
    top: 0
    left: 50%
    display: flex
    justify-content: center
    align-items: center
    +tablets-max
      position: relative
      transform: translateX(-50%)
    img
      max-height: 80%

  &__title
    margin-bottom: 45px
    +phones-max
      font-size: rem(21px)

  &__subtitle
    color: $accent2
    text-transform: uppercase

  &__button
    margin-top: 50px

  &__navigation
    background-color: #e1e4d7
    float: right
    width: 50%
    height: 100%
    display: flex
    align-items: flex-end
    +tablets-max
      float: none
      height: auto
      width: 100%
      display: block
    &-link
      width: 50%
      height: 25%
      display: block
      flex: 1
      position: relative
      transition: opacity .2s ease-out
      +tablets-max
        float: left
        height: auto
      &:hover
        opacity: 0.7
      &::after
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        content: ''
        background-color: rgba(#b0b7aa, .7)


      img
        max-height: 100%
        max-width: 100%

    &-link:last-child
      &::after
        background-color: rgba(#93998d, .7)


    &-icon
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      z-index: 10

      svg
        font-size: 1.675rem
        fill: #fff
