extends ../layouts/welcome_layout.jade

block title
  title Welcome
  
prepend content
  .card.card--welcome
    .card__image
      img(src="img/fashmark.jpg", alt="")
    h1.card__title Владимир Астахов
    p.card__subtitle Личный сайт веб разработчика
    ul.social.card__socials
      li.social__item
        a(href="#").social__link
          +icon('vk')
      li.social__item
        a(href="#").social__link
          +icon('github')
      li.social__item
        a(href="#").social__link
          +icon('in')
    ul.card__menu
      li.card__menu-item
        a(href="works.html").card__menu-link Мои работы
      li.card__menu-item
        a(href="about.html").card__menu-link Обо мне
      li.card__menu-item
        a(href="blog.html").card__menu-link Блог
  a(href="#").btn.btn--tr.welcome__button Авторизоваться
