extends ../layouts/welcome_layout.jade

block title
  title Main Page
  
prepend content
  .welcome
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium repudiandae, debitis harum veniam rerum eligendi beatae veritatis odio dolorem iure ipsa, deleniti qui, voluptatibus porro magnam unde quod! Architecto, official.
    +icon('hamburger')
