extends ../layouts/welcome_layout.jade

block title
  title Welcome
  
prepend content
  .welcome__card
    .welcome__image
      img(src="img/fashmark.jpg", alt="")
    h1.welcome__title Владимир Астахов
    p.welcome__subtitle Личный сайт веб разработчика
    ul.social.welcome__socials
      li.social__item
        a(href="#").social__link
          +icon('vk')
      li.social__item
        a(href="#").social__link
          +icon('github')
      li.social__item
        a(href="#").social__link
          +icon('in')
    ul.welcome__menu
      li.welcome__menu-item
        a(href="#").welcome__menu-link Мои работы
      li.welcome__menu-item
        a(href="#").welcome__menu-link Обо мне
      li.welcome__menu-item
        a(href="#").welcome__menu-link Блог
  a(href="#").btn.btn--tr.welcome__button Авторизоваться
