section.about-section
  .section-header.section-header--about
    img(src="img/svg/about_header.svg", alt="About Image").section-header__image
    h2.section-header__title Что обо мне говорят
    
  .reviews
    .reviews__item
      .reviews__image
        img(src="img/review/first.jpg", alt="image")
      p.reviews__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
      .reviews__author Ковальчук Дмитрий
      .reviews__author-desc — основатель Loftschool
        
    .reviews__item
      .reviews__image
        img(src="img/review/second.jpg", alt="image")
      p.reviews__text Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
      .reviews__author Зар Захаров
      .reviews__author-desc — преподаватель
          
  .about-form
    .card.card--about
      .card__blur--about
      .card__blur-inner--about
        h3 Связаться со мной
        form.contact-form
          input(type="text", placeholder="Имя")
          input(type="email", placeholder="Email")
          textarea(rows="6", placeholder="Ваше сообщение")
        ul.card__menu
          li.card__menu-item
            a(href="works.html").card__menu-link Отправить
          li.card__menu-item
            a(href="#").card__menu-link Очистить
