//- Mixin for using svg sprite
mixin icon(name, mod)
  -mod = mod || ''
  svg(class="icon icon-" + name + ' ' + mod)
    use(xlink:href="img/svg/sprite.svg#" + name)
    
    
//- - Mixin for making svg circles
mixin circle(deg, text)
  .g-circles-wrap
    - var d = deg * 251 / 100
    svg(width="120", height="120").g-circles
      circle(r="45", cx="60", cy="60", stroke="#ccc", fill="none")
      circle(r="45", cx="60", cy="60", stroke-dasharray= d + " 251", transform="rotate(-90 60 60)", class="sector")
    .g-circles-text= text
